<!DOCTYPE html>
<html>

<head>
    <%- include('bootstrap') %>
        <style>
            body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }

            .content {
                flex-grow: 1;
            }
        </style>
</head>

<body>
    <%- include('navbar') %>
        <div class="container content mt-3 mb-3">
            <h1>About Me</h1>
            <p>
                Hello! Thank you for taking the time to visit my site. My name is Pranav Jain and I am a senior CSCE
                student at Texas A&M University.
            </p>
            <p>
                Since I was young, I have always loved to build stuff. In middle school, I would spend my weekends
                following build tutorials by Steve Spangler and Kip Kay on Youtube. In high school, I took the game
                design and robotics courses offered by my high school. This passion for creating stuff encouraged me to
                try to learn about programming in my senior year of high school, which I did so through udemy and
                coursera courses. What I found so fascinating about programming was that it allowed me to create
                incredible stuff with just my computer and nothing else. This led me to pursue computer science as my
                major at Texas A&M University.
            </p>
            <p>
                At Texas A&M, I have been having lots of fun. I love doing the CSCE assignments, whether it be
                developing proofs for algorithms or writing my own code. This is because these assignments require a
                creative mindset. For example, when doing proofs in my Analysis of Algorithms class, I would often need
                to come back to a proof multiple times before experiencing an aha moment. I also love my peers whom are
                generally equally excited about computer science as I am. Often we have discussions regarding how the
                concepts we learn in class are being applied in the real world. I also love my teachers, many of whom I
                have met both in and outside the classroom. I enjoy hearing their thoughts on questions I have and
                discussing with them about different areas of computer science they find interesting.
            </p>

            <p>
                This summer, I am working at Capital One, which is helping me to learn about how software engineers work
                in the industry. Next semester, I will begin my senior year at Texas A&M.
            </p>
            <p>
                In the future, I would like to have a career in which I can use my programming skills to help others.
                After college, I am planning on choosing a masters degree in data science to specialize further in the
                field of machine learning. After that, I may go directly into industry or pursue a PhD degree in
                computer science.
            </p>
        </div>
        <%- include('footer') %>
</body>

</html>