<!DOCTYPE html>
<html>

<head>
    <%- include('bootstrap') %>
        <style>
            body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }

            .content {
                flex-grow: 1;
            }

            .iframe-container {
                max-width: 560px;
                aspect-ratio: 16 / 9;
            }

            /* Then style the iframe to fit in the container div with full height and width */
            .responsive-iframe {
                width: 100%;
                height: 100%;
            }
        </style>
</head>

<body>
    <%- include('navbar') %>
        <div class="container content mt-3 mb-3">
            <h1>Achievements</h1>
            <div class="accordion mt-3" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEight">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            TAMU Hack 2022 - 2nd Place
                        </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p><b>Awarded by TAMU Hack : 1/28/21 - 1/31/21</b></p>
                            <p>
                                For TAMUhack 2021, my team developed EyeTrain. This is a game that exercises your eyes
                                through different eye movements and blinking to help relieve digital eye strain. Our
                                team achieved 2nd place out of 130 teams. Each of us received an iPad (8th Generation)
                                as a prize. You can read more about EyeTrain on the <a href="/projects"
                                    class="link-primary">projects page</a>.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingNine">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                            Aggies Invent Facebook - 2nd Place
                        </button>
                    </h2>
                    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p><b>Awarded by Aggies Invent Facebook : 1/30/21 - 1/31/21</b></p>
                            <p>
                                For Aggies Invent Facebook, my team developed TeeRacking. This is a tracker that reduces
                                the commute time of Facebook employees at data centers by tracking available golf carts.
                                Our team achieved 2nd place out of 8 teams. Each of us received $125 as a prize. You can
                                read more about TeeRacking on the <a href="/projects" class="link-primary">projects
                                    page</a>.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSeven">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            2021 TAAF State Swim Championship Medalist
                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p><b>Awarded by The Texas Amateur Athletic Federation : 7/31/21</b></p>
                            <p>
                                I received a silver medal in 200 Yard Free style, and qualified for the 2022 national
                                swimming games.
                            </p>
                            <div class="iframe-container">
                                <iframe class="responsive-iframe" width="560" height="315"
                                    src="https://www.youtube.com/embed/4db-duTsJLQ" title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            2021 TAAF Region 16 Swim Championship Medalist
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p><b>Awarded by The Texas Amateur Athletic Federation : 7/17/21</b></p>
                            <p>
                                I received 3 gold medals and 1 silver medal in the TAAF regional swimming competition,
                                boys 18+ division.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Dean's Honor Award
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p><b>Awarded by The College of Engineering at Texas A&M University : 8/19 - 8/22</b></p>
                            <p>
                                I received this award for achieving a 4.0 GPA.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Raymond Ideas Challenge Finalist
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p><b>Awarded by McFerrin Center For Entrepreneurship : 9/19</b></p>
                            <p>
                                I, along with my team of 4 other students, developed a video detailing our plan for
                                constructing an adventure playground (named Build-A-Ground) in Bryan, Texas. My team
                                placed among the top 40 finalists of the competition and were invited to present to two
                                groups of judges.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            A&M Club Leadership Award
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p><b>Awarded by The Association of Former Students of Texas A&M : 8/19 - 5/20</b></p>
                            <p>
                                I received this scholarship for two semesters for my academic achievement.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            President's Endowed Scholarship
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p><b>Awarded by Texas A&M Foundation : 8/19 - 5/23</b></p>
                            <p>
                                I recevied this scholarship for four years by Texas A&M
                                Foundation for my intellectual achievement, service, and leadership. It is considered to
                                be
                                Texas A&M's most prestigious academic scholarship.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Ruby A. Nelson Endowed Scholarship
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p><b>Awarded by Texas A&M Foundation : 8/19 - 5/23</b></p>
                            <p>
                                I received this scholarship awarded for four years based on my academic achievement.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('footer') %>
</body>

</html>