<!DOCTYPE html>

<html lang="en">

<head>
  <%- include('bootstrap') %>
    <style>
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }

      .content {
        flex-grow: 1;
      }

      .canvas-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      #canvas {
        max-width: 600px;
        width: 100%;
        object-fit: contain;
        border: 1px solid black;
      }
    </style>
</head>

<body>
  <%- include('navbar') %>
    <div class="container content mt-3 mb-3 canvas-container">
      <p>Click on boxes to reveal and hide answers</p>
      <canvas id="canvas"></canvas>
    </div>

    <script>
      document.addEventListener(
        "mousedown",
        function (event) {
          if (event.detail > 1) {
            event.preventDefault();
          }
        },
        false
      );

      let bboxes = JSON.parse(
        "[[{&#34;x&#34;:200,&#34;y&#34;:146},{&#34;x&#34;:274,&#34;y&#34;:147},{&#34;x&#34;:274,&#34;y&#34;:155},{&#34;x&#34;:200,&#34;y&#34;:154}],[{&#34;x&#34;:187,&#34;y&#34;:164},{&#34;x&#34;:221,&#34;y&#34;:164},{&#34;x&#34;:221,&#34;y&#34;:173},{&#34;x&#34;:187,&#34;y&#34;:173}],[{&#34;x&#34;:223,&#34;y&#34;:164},{&#34;x&#34;:274,&#34;y&#34;:164},{&#34;x&#34;:274,&#34;y&#34;:173},{&#34;x&#34;:223,&#34;y&#34;:173}],[{&#34;x&#34;:234,&#34;y&#34;:179},{&#34;x&#34;:251,&#34;y&#34;:178},{&#34;x&#34;:251,&#34;y&#34;:189},{&#34;x&#34;:235,&#34;y&#34;:190}],[{&#34;x&#34;:252,&#34;y&#34;:178},{&#34;x&#34;:272,&#34;y&#34;:177},{&#34;x&#34;:272,&#34;y&#34;:188},{&#34;x&#34;:253,&#34;y&#34;:189}],[{&#34;x&#34;:105,&#34;y&#34;:205},{&#34;x&#34;:160,&#34;y&#34;:205},{&#34;x&#34;:160,&#34;y&#34;:215},{&#34;x&#34;:105,&#34;y&#34;:215}],[{&#34;x&#34;:103,&#34;y&#34;:223},{&#34;x&#34;:148,&#34;y&#34;:223},{&#34;x&#34;:148,&#34;y&#34;:233},{&#34;x&#34;:103,&#34;y&#34;:233}],[{&#34;x&#34;:151,&#34;y&#34;:223},{&#34;x&#34;:203,&#34;y&#34;:223},{&#34;x&#34;:203,&#34;y&#34;:233},{&#34;x&#34;:151,&#34;y&#34;:233}],[{&#34;x&#34;:145,&#34;y&#34;:238},{&#34;x&#34;:174,&#34;y&#34;:238},{&#34;x&#34;:174,&#34;y&#34;:248},{&#34;x&#34;:145,&#34;y&#34;:248}],[{&#34;x&#34;:178,&#34;y&#34;:238},{&#34;x&#34;:202,&#34;y&#34;:238},{&#34;x&#34;:202,&#34;y&#34;:248},{&#34;x&#34;:178,&#34;y&#34;:248}],[{&#34;x&#34;:152,&#34;y&#34;:283},{&#34;x&#34;:189,&#34;y&#34;:283},{&#34;x&#34;:189,&#34;y&#34;:291},{&#34;x&#34;:152,&#34;y&#34;:291}],[{&#34;x&#34;:144,&#34;y&#34;:295},{&#34;x&#34;:189,&#34;y&#34;:295},{&#34;x&#34;:189,&#34;y&#34;:303},{&#34;x&#34;:144,&#34;y&#34;:303}],[{&#34;x&#34;:123,&#34;y&#34;:319},{&#34;x&#34;:192,&#34;y&#34;:319},{&#34;x&#34;:192,&#34;y&#34;:328},{&#34;x&#34;:123,&#34;y&#34;:328}],[{&#34;x&#34;:122,&#34;y&#34;:333},{&#34;x&#34;:126,&#34;y&#34;:333},{&#34;x&#34;:126,&#34;y&#34;:343},{&#34;x&#34;:122,&#34;y&#34;:343}],[{&#34;x&#34;:126,&#34;y&#34;:333},{&#34;x&#34;:189,&#34;y&#34;:333},{&#34;x&#34;:189,&#34;y&#34;:343},{&#34;x&#34;:126,&#34;y&#34;:343}],[{&#34;x&#34;:189,&#34;y&#34;:333},{&#34;x&#34;:192,&#34;y&#34;:333},{&#34;x&#34;:192,&#34;y&#34;:343},{&#34;x&#34;:189,&#34;y&#34;:343}],[{&#34;x&#34;:141,&#34;y&#34;:364},{&#34;x&#34;:195,&#34;y&#34;:364},{&#34;x&#34;:195,&#34;y&#34;:372},{&#34;x&#34;:141,&#34;y&#34;:372}],[{&#34;x&#34;:132,&#34;y&#34;:269},{&#34;x&#34;:168,&#34;y&#34;:269},{&#34;x&#34;:168,&#34;y&#34;:277},{&#34;x&#34;:132,&#34;y&#34;:277}],[{&#34;x&#34;:173,&#34;y&#34;:414},{&#34;x&#34;:220,&#34;y&#34;:414},{&#34;x&#34;:220,&#34;y&#34;:424},{&#34;x&#34;:173,&#34;y&#34;:424}],[{&#34;x&#34;:210,&#34;y&#34;:457},{&#34;x&#34;:235,&#34;y&#34;:457},{&#34;x&#34;:235,&#34;y&#34;:469},{&#34;x&#34;:210,&#34;y&#34;:469}],[{&#34;x&#34;:237,&#34;y&#34;:457},{&#34;x&#34;:273,&#34;y&#34;:457},{&#34;x&#34;:273,&#34;y&#34;:468},{&#34;x&#34;:237,&#34;y&#34;:468}],[{&#34;x&#34;:302,&#34;y&#34;:44},{&#34;x&#34;:356,&#34;y&#34;:44},{&#34;x&#34;:356,&#34;y&#34;:61},{&#34;x&#34;:302,&#34;y&#34;:61}],[{&#34;x&#34;:364,&#34;y&#34;:44},{&#34;x&#34;:403,&#34;y&#34;:44},{&#34;x&#34;:403,&#34;y&#34;:61},{&#34;x&#34;:364,&#34;y&#34;:61}],[{&#34;x&#34;:410,&#34;y&#34;:44},{&#34;x&#34;:512,&#34;y&#34;:45},{&#34;x&#34;:512,&#34;y&#34;:63},{&#34;x&#34;:410,&#34;y&#34;:62}],[{&#34;x&#34;:297,&#34;y&#34;:479},{&#34;x&#34;:323,&#34;y&#34;:479},{&#34;x&#34;:323,&#34;y&#34;:490},{&#34;x&#34;:297,&#34;y&#34;:490}],[{&#34;x&#34;:326,&#34;y&#34;:479},{&#34;x&#34;:351,&#34;y&#34;:479},{&#34;x&#34;:351,&#34;y&#34;:490},{&#34;x&#34;:326,&#34;y&#34;:490}],[{&#34;x&#34;:281,&#34;y&#34;:491},{&#34;x&#34;:285,&#34;y&#34;:491},{&#34;x&#34;:285,&#34;y&#34;:503},{&#34;x&#34;:281,&#34;y&#34;:503}],[{&#34;x&#34;:284,&#34;y&#34;:491},{&#34;x&#34;:310,&#34;y&#34;:492},{&#34;x&#34;:310,&#34;y&#34;:504},{&#34;x&#34;:284,&#34;y&#34;:503}],[{&#34;x&#34;:313,&#34;y&#34;:491},{&#34;x&#34;:363,&#34;y&#34;:492},{&#34;x&#34;:363,&#34;y&#34;:505},{&#34;x&#34;:313,&#34;y&#34;:504}],[{&#34;x&#34;:363,&#34;y&#34;:492},{&#34;x&#34;:367,&#34;y&#34;:492},{&#34;x&#34;:367,&#34;y&#34;:504},{&#34;x&#34;:363,&#34;y&#34;:504}],[{&#34;x&#34;:425,&#34;y&#34;:223},{&#34;x&#34;:436,&#34;y&#34;:232},{&#34;x&#34;:431,&#34;y&#34;:237},{&#34;x&#34;:421,&#34;y&#34;:228}],[{&#34;x&#34;:393,&#34;y&#34;:482},{&#34;x&#34;:423,&#34;y&#34;:482},{&#34;x&#34;:423,&#34;y&#34;:491},{&#34;x&#34;:393,&#34;y&#34;:491}],[{&#34;x&#34;:381,&#34;y&#34;:492},{&#34;x&#34;:441,&#34;y&#34;:493},{&#34;x&#34;:441,&#34;y&#34;:506},{&#34;x&#34;:381,&#34;y&#34;:505}],[{&#34;x&#34;:388,&#34;y&#34;:509},{&#34;x&#34;:433,&#34;y&#34;:509},{&#34;x&#34;:433,&#34;y&#34;:518},{&#34;x&#34;:388,&#34;y&#34;:518}],[{&#34;x&#34;:498,&#34;y&#34;:126},{&#34;x&#34;:557,&#34;y&#34;:128},{&#34;x&#34;:557,&#34;y&#34;:139},{&#34;x&#34;:498,&#34;y&#34;:137}],[{&#34;x&#34;:497,&#34;y&#34;:140},{&#34;x&#34;:557,&#34;y&#34;:141},{&#34;x&#34;:557,&#34;y&#34;:152},{&#34;x&#34;:497,&#34;y&#34;:151}],[{&#34;x&#34;:595,&#34;y&#34;:153},{&#34;x&#34;:622,&#34;y&#34;:153},{&#34;x&#34;:622,&#34;y&#34;:162},{&#34;x&#34;:595,&#34;y&#34;:162}],[{&#34;x&#34;:624,&#34;y&#34;:153},{&#34;x&#34;:685,&#34;y&#34;:153},{&#34;x&#34;:685,&#34;y&#34;:162},{&#34;x&#34;:624,&#34;y&#34;:162}],[{&#34;x&#34;:624,&#34;y&#34;:165},{&#34;x&#34;:661,&#34;y&#34;:166},{&#34;x&#34;:661,&#34;y&#34;:178},{&#34;x&#34;:624,&#34;y&#34;:177}],[{&#34;x&#34;:640,&#34;y&#34;:246},{&#34;x&#34;:676,&#34;y&#34;:246},{&#34;x&#34;:676,&#34;y&#34;:255},{&#34;x&#34;:640,&#34;y&#34;:255}],[{&#34;x&#34;:628,&#34;y&#34;:260},{&#34;x&#34;:686,&#34;y&#34;:259},{&#34;x&#34;:686,&#34;y&#34;:270},{&#34;x&#34;:628,&#34;y&#34;:271}],[{&#34;x&#34;:636,&#34;y&#34;:273},{&#34;x&#34;:679,&#34;y&#34;:272},{&#34;x&#34;:679,&#34;y&#34;:283},{&#34;x&#34;:636,&#34;y&#34;:284}],[{&#34;x&#34;:635,&#34;y&#34;:297},{&#34;x&#34;:686,&#34;y&#34;:297},{&#34;x&#34;:686,&#34;y&#34;:306},{&#34;x&#34;:635,&#34;y&#34;:306}],[{&#34;x&#34;:579,&#34;y&#34;:427},{&#34;x&#34;:615,&#34;y&#34;:427},{&#34;x&#34;:615,&#34;y&#34;:435},{&#34;x&#34;:579,&#34;y&#34;:435}],[{&#34;x&#34;:582,&#34;y&#34;:440},{&#34;x&#34;:618,&#34;y&#34;:441},{&#34;x&#34;:618,&#34;y&#34;:452},{&#34;x&#34;:582,&#34;y&#34;:451}],[{&#34;x&#34;:620,&#34;y&#34;:442},{&#34;x&#34;:642,&#34;y&#34;:443},{&#34;x&#34;:642,&#34;y&#34;:453},{&#34;x&#34;:620,&#34;y&#34;:452}],[{&#34;x&#34;:581,&#34;y&#34;:454},{&#34;x&#34;:617,&#34;y&#34;:455},{&#34;x&#34;:617,&#34;y&#34;:466},{&#34;x&#34;:581,&#34;y&#34;:465}],[{&#34;x&#34;:620,&#34;y&#34;:455},{&#34;x&#34;:662,&#34;y&#34;:456},{&#34;x&#34;:662,&#34;y&#34;:467},{&#34;x&#34;:620,&#34;y&#34;:466}],[{&#34;x&#34;:582,&#34;y&#34;:471},{&#34;x&#34;:628,&#34;y&#34;:471},{&#34;x&#34;:628,&#34;y&#34;:479},{&#34;x&#34;:582,&#34;y&#34;:479}]]".replace(
          /&#34;/g,
          '"'
        )
      );
      let canvas = document.getElementById("canvas");
      let ctx = canvas.getContext("2d");

      let img = new Image();
      img.src = "/plant_cell.png";
      img.onload = function () {
        canvas.width = this.width;
        canvas.height = this.height;
        ctx.drawImage(img, 0, 0);
        bboxes.forEach((bbox) => {
          ctx.fillRect(
            bbox[0].x,
            bbox[0].y,
            bbox[2].x - bbox[0].x,
            bbox[2].y - bbox[0].y
          );
          bbox.transparent = false;
        });
        canvas.addEventListener("click", update_canvas, false);
      };

      function update_canvas(event) {
        var rect = canvas.getBoundingClientRect();

        // made responsive (just for the plant image)
        let mouseX = (800 * (event.clientX - rect.left)) / rect.width;
        let mouseY = (600 * (event.clientY - rect.top)) / rect.height;

        ctx.drawImage(img, 0, 0);
        bboxes.forEach((bbox) => {
          if (
            bbox[0].x <= mouseX &&
            bbox[2].x >= mouseX &&
            bbox[0].y <= mouseY &&
            bbox[2].y >= mouseY
          ) {
            if (bbox.transparent) {
              ctx.fillRect(
                bbox[0].x,
                bbox[0].y,
                bbox[2].x - bbox[0].x,
                bbox[2].y - bbox[0].y
              );
              bbox.transparent = false;
            } else {
              bbox.transparent = true;
            }
          } else {
            if (!bbox.transparent) {
              ctx.fillRect(
                bbox[0].x,
                bbox[0].y,
                bbox[2].x - bbox[0].x,
                bbox[2].y - bbox[0].y
              );
            }
          }
        });
      }
    </script>
    <%- include('footer') %>
</body>

</html>