<!DOCTYPE html>
<html>
  <head>
    <%- include('bootstrap') %> <%- include('navbar') %>
  </head>
  <body>
    <div class="container mt-3">
      <img src="/cpu.PNG" class="img-fluid" />
      <img src="/alu.PNG" class="img-fluid" />
      <img src="/ram64.PNG" class="img-fluid" />
      <img src="/mux8way16.PNG" class="img-fluid" />
    </div>
  </body>
</html>
