<!-- Footer: https://mdbootstrap.com/docs/standard/navigation/footer/-->

<style>
  footer {
    background-color: #212529;
    color: rgba(255, 255, 255, 0.55);
    /*box-shadow: 0 50vh 0 50vh #212529;*/
  }
</style>

<footer>
  <div class="text-center p-3">© 2022 by Pranav Jain</div>
</footer>