<!DOCTYPE html>
<html>
  <head>
    <title>Cool Site</title>
    <%- include('bootstrap') %> <%- include('navbar') %>
  </head>
  <body>
    <h1>My First Heading</h1>
    <p>My first paragraph.</p>
  </body>
</html>
