<!DOCTYPE html>
<html>
  <head>
    <%- include('bootstrap') %> <%- include('navbar') %>
    <!-- accordion: https://getbootstrap.com/docs/5.0/components/accordion/-->
  </head>
  <body>
    <div class="container mt-3">
      <h1>Projects</h1>
      <div class="accordion mt-3" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button collapsed shadow-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="false"
              aria-controls="collapseOne"
            >
              Git Visualizer
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                Git is an incredible tool for anyone who works with files.
                Essentially, git is a time machine for your files. It allows you
                to take snapshots of your files at different times. You can then
                travel through time to different snapshots whenever necessary.
              </p>
              <p>
                One problem with git though is that it is difficult to visualize
                what each of the commands are doing. This is why I created the
                <a
                  href="https://marketplace.visualstudio.com/items?itemName=PranavJain.git-visualizer"
                  class="link-primary"
                  target="_blank"
                  >Git Visualizer</a
                >
                , a vs code extension that visualizes git graphs to help you
                learn about git. The visualization style was inspired by the
                git-learning game
                <a
                  href="https://ohmygit.org/"
                  class="link-primary"
                  target="_blank"
                  >Oh My Git</a
                >, which I highly recommend.
              </p>
              <a
                class="btn btn-primary shadow-none"
                href="/git_visualizer"
                role="button"
                >Open Interactive Demo</a
              ><br />
              <iframe
                class="mt-3"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/JCpiVWqUxvY"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed shadow-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Nand2Tetris HDL Visualizer
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                The
                <a
                  href="https://www.nand2tetris.org/"
                  class="link-primary"
                  target="_blank"
                  >nand2tetris course</a
                >
                is a great course in which students build a modern computer from
                logic gates. One issue though is that there did not exist any
                tool to generate helpful visualizations of the nand2tetris hdl
                file, a type of file used to describe the structure of chips. As
                an honors project for my CSCE 312 class, I worked remotely in a
                team of 5 to develop a
                <a
                  href="https://github.com/tcheinen/nand2tetris"
                  class="link-primary"
                  target="_blank"
                  >python-based visualizer</a
                >
                for nand2tetris hdl files.
              </p>
              <p>
                I later updated the tool by developing it into a
                <a
                  href="https://marketplace.visualstudio.com/items?itemName=PranavJain.nand2tetris-hdl-visualizer&ssr=false#overview"
                  class="link-primary"
                  target="_blank"
                  >vscode extension</a
                >
                . The extension now has over 100 downloads and has been used by
                multiple CSCE 312 students.
              </p>
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/6lF45ffVOqo"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed shadow-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              Blockify
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                One winter, my older brother (a medical student) was discussing
                a problem that he faces while studying. For his medical exams,
                he needs to study diagrams. The problem is that to quiz himself
                on his diagram knowledge, he has to manually cover up the
                diagram labels by himself or hope that another classmate has
                already done so. For TAMUhack 2022, my team, inspired by this
                problem, developed
                <a
                  href="https://devpost.com/software/blockify"
                  class="link-primary"
                  target="_blank"
                  >Blockify</a
                >. This tool can cover labels in diagrams to help students study
                more effectively for tests.
              </p>
              <a
                class="btn btn-primary shadow-none"
                href="/blockify"
                role="button"
                >Open Interactive Demo</a
              ><br />
              <iframe
                class="mt-3"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/Grn75u7d8_Y"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
