<!DOCTYPE html>
<html>
  <head>
    <%- include('bootstrap') %> <%- include('navbar') %>
    <!-- accordion: https://getbootstrap.com/docs/5.0/components/accordion/-->

    <style></style>
  </head>
  <body>
    <div class="container mt-3">
      <h1>Projects</h1>
      <div class="accordion mt-3" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button collapsed shadow-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="false"
              aria-controls="collapseOne"
            >
              Git Visualizer
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                Git is an incredible tool for anyone who works with files.
                Essentially, git is a time machine for your files. It allows you
                to take snapshots of your files at different times. You can then
                travel through time to different snapshots whenever necessary.
              </p>
              <p>
                One problem with git though is that it is difficult to visualize
                what each of the commands are doing. This is why I created the
                <a
                  href="https://marketplace.visualstudio.com/items?itemName=PranavJain.git-visualizer"
                  class="link-primary"
                  target="_blank"
                  >Git Visualizer</a
                >
                , a vs code extension that visualizes git graphs to help you
                learn about git. The visualization style was inspired by the
                git-learning game
                <a
                  href="https://ohmygit.org/"
                  class="link-primary"
                  target="_blank"
                  >Oh My Git</a
                >, which I highly recommend.
              </p>
              <div id="graph"></div>
              <%- include('git_visualizer') %>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed shadow-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Accordion Item #2
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is
              hidden by default, until the collapse plugin adds the appropriate
              classes that we use to style each element. These classes control
              the overall appearance, as well as the showing and hiding via CSS
              transitions. You can modify any of this with custom CSS or
              overriding our default variables. It's also worth noting that just
              about any HTML can go within the <code>.accordion-body</code>,
              though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed shadow-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              Accordion Item #3
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is
              hidden by default, until the collapse plugin adds the appropriate
              classes that we use to style each element. These classes control
              the overall appearance, as well as the showing and hiding via CSS
              transitions. You can modify any of this with custom CSS or
              overriding our default variables. It's also worth noting that just
              about any HTML can go within the <code>.accordion-body</code>,
              though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
